@using Course.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="w-100 login">
    <div class="login__popup">
        <div class="login__title text-center">
            <a href="/Home/Index">
                <img class="border--sm"
                     src="https://accounts.fullstack.edu.vn/assets/icon/f8_icon.png"
                     alt=""
                     width="44px"
                     height="44px" />
            </a>
            <h1 class="fz-28 fw-700 mt-3">Đăng nhập vào F8</h1>
        </div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login__form mt-5", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <label for="username" class="fw-500"> Đăng kí</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "w-100 mt-1 login__input", placeholder = "Nhập tên của bạn" })
            @Html.PasswordFor(m => m.Password, new { @class = "w-100 mt-1 login__input", placeholder = "Nhập mật khẩu của bạn" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            <button class="btn btn--login w-100 text-white mt-3">
                Đăng nhập
            </button>
        }
        <div class="mt-5 text-center">
            <span class="">
                Bạn chưa có tài khoản?
                <a class="text-primary fw-500" href="/Account/Register/">Đăng ký</a>
            </span>
        </div>
    </div>
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

    <div class="login__overlay"></div>
</div>
