@using Course.Models
@model LoginViewModel
@{
    ViewBag.Title = "LoginNew";
}

<div class="w-100 login">
    <div class="login__popup">
        <div class="login__title text-center">
            <img class="border--sm"
                 src="https://accounts.fullstack.edu.vn/assets/icon/f8_icon.png"
                 alt=""
                 width="44px"
                 height="44px" />
            <h1 class="fz-28 fw-700 mt-3">Đăng nhập vào F8</h1>
        </div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login__form mt-5", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <label for="username" class="fw-500"> Đăng nhập</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "w-100 mt-1 login__input", placeholder = "Nhập tên của bạn" })
            @Html.PasswordFor(m => m.Password, new { @class = "w-100 mt-1 login__input", placeholder = "Nhập mật khẩu của bạn" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            <button class="btn btn--login w-100 text-white mt-3">
                Đăng nhập
            </button>
        }
        <div class="mt-5 text-center">
            <span class="">
                Bạn chưa có tài khoản?
                <a class="text-primary fw-500" href="./Register">Đăng ký</a>
            </span>
        </div>
    </div>

    <div class="login__overlay"></div>
</div>
