@model Course.Models.Courses

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="course__container d-flex mt-5 gap-5">
    <div class="d-flex flex-column gap-3" style="flex: 2">
        <h4 class="fz-32 fw-700">@Html.DisplayFor(model => model.title)</h4>

        <p class="fz-14">
            @Html.DisplayFor(model => model.description)
        </p>

        <h5 class="fz-20 fw-700">Nội dung khóa học</h5>

        <h6 class="fz-14">100 Bài học - Thời lương @Html.DisplayFor(model => model.duration)</h6>

        <ul class="d-flex gap-3 flex-column">
            <li class="d-flex justify-content-between pb-2"
                style="border-bottom: 1px rgba(0, 0, 0, 0.1) solid">
                <div class="d-flex gap-1 align-items-center">
                    <div class="course__icon" style="transform: translateY(-10%)">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <h6 class="fz-14">1. Giới thiệu khóa học</h6>
                </div>

                <h6 class="fz-14 text-light-dark">01:03</h6>
            </li>

            <li class="d-flex justify-content-between pb-2"
                style="border-bottom: 1px rgba(0, 0, 0, 0.1) solid">
                <div class="d-flex gap-1 align-items-center">
                    <div class="course__icon" style="transform: translateY(-10%)">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <h6 class="fz-14">1. Giới thiệu khóa học</h6>
                </div>

                <h6 class="fz-14 text-light-dark">01:03</h6>
            </li>

            <li class="d-flex justify-content-between pb-2"
                style="border-bottom: 1px rgba(0, 0, 0, 0.1) solid">
                <div class="d-flex gap-1 align-items-center">
                    <div class="course__icon" style="transform: translateY(-10%)">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <h6 class="fz-14">1. Giới thiệu khóa học</h6>
                </div>

                <h6 class="fz-14 text-light-dark">01:03</h6>
            </li>
        </ul>
    </div>

    <div class="d-flex flex-column px-4" style="flex: 1">
        <div class="course__demo d-flex justify-content-between align-items-center position-relative">
            <img src="@Url.Content(Model.img_course)"
                 alt=""
                 class="w-100 bg--img"
                 style="height: 300px; border-radius: 20px" />

            <div class="course__demo--icon" style="z-index: 1">
                <i class="fa-solid fa-play"></i>
            </div>

            <h6 class="fz-16 text-white">Xem giới thiệu khóa học</h6>
        </div>

        <div class="mt-4 d-flex flex-column gap-3 align-items-center">
            <h2 class="fz-32 text-primary fw-400">Giá @Model.priceAfterConvert() VND</h2>

                <a href="/Courses/CreatePayment" class="btn btn--primary">Mua khóa học </a>
            
        </div>

        <div class="d-flex justify-content-center">
            <ul class="d-flex flex-column gap-3 mt-4" style="width: max-content">
                <li class="d-flex px-4 align-items-center">
                    <i class="fa-solid fa-gauge"></i>

                    <h6 class="px-4 fz-14 text-light-dark">Trình độ cơ bản</h6>
                </li>

                <li class="d-flex px-4 align-items-center">
                    <i class="fa-solid fa-list"></i>
                    <h6 class="px-4 fz-14 text-light-dark">
                        Tổng số <strong></strong> bài học
                    </h6>
                </li>

                <li class="d-flex px-4 align-items-center">
                    <i class="fa-solid fa-clock"></i>

                    <h6 class="px-4 fz-14 text-light-dark">
                        Thời lượng <strong>@Model.duration</strong>
                    </h6>
                </li>

                <li class="d-flex px-4 align-items-center">
                    <i class="fa-solid fa-battery-full"></i>

                    <h6 class="px-4 fz-14 text-light-dark">@Model.description</h6>
                </li>
            </ul>
        </div>
    </div>
</div>