@model Course.Models.Courses

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="course__container d-flex mt-5 gap-5">
    <div class="d-flex flex-column gap-3" style="flex: 2">
        <h4 class="fz-32 fw-700">@Html.DisplayFor(model => model.title)</h4>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.img_course, "Email", htmlAttributes: new { @class = "control-label col-md-2" })

        </dt>

        <h5 class="fz-20 fw-700">Nội dung khóa học</h5>

        <dt>
            @Html.LabelFor(model => model.img_course, "Tên Khóa Học", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

            <h6 class="fz-16 text-white">Xem giới thiệu khóa học</h6>
        </div>

        <dt>
            @Html.LabelFor(model => model.img_course, "Tiêu Đề", htmlAttributes: new { @class = "control-label col-md-2" })

        </dt>

            <button class="btn btn--primary">ĐĂNG KÝ HỌC</button>
        </div>

        <dt>
            @Html.LabelFor(model => model.img_course, "Tên Khóa Học", htmlAttributes: new { @class = "control-label col-md-2" })

        </dt>

                    <h6 class="px-4 fz-14 text-light-dark">Trình độ cơ bản</h6>
                </li>

        <dt>
            @Html.LabelFor(model => model.img_course, "Mô Tả Khóa Học", htmlAttributes: new { @class = "control-label col-md-2" })

        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
         
        <dt>
            @Html.LabelFor(model => model.img_course, "Giá Khóa Học", htmlAttributes: new { @class = "control-label col-md-2" })

        </dt>

        <dd>
            @Html.HiddenFor(model => model.img_course, new { htmlAttributes = new { @class = "form-control" } })
            <img src="@Url.Content(Model.img_course)" style="height: 200px; width:200px; margin:10px;" id="preViewImage" />
            @*<input type="file" name="ImageUpload" value="" accept="" onchange="ShowImage(this, document.getElementById('preViewImage'))" />*@
            @Html.ValidationMessageFor(model => model.img_course, "", new { @class = "text-danger" })
        </dd>

        <dt>
            @Html.LabelFor(model => model.img_course, "Thời Gian", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

                <li class="d-flex px-4 align-items-center">
                    <i class="fa-solid fa-battery-full"></i>

                    <h6 class="px-4 fz-14 text-light-dark">Học mọi lúc, mọi nơi</h6>
                </li>
            </ul>
        </div>
    </div>
</div>
