@model IEnumerable<Course.Models.Enrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.course_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enrollment_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statuss)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enrollment_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statuss)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.enrollment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.enrollment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.enrollment_id })
        </td>
    </tr>
}

</table>
